@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: gotham;
  src: url("./fonts/gotham.ttf");
}
.nav {
  @apply flex md:w-[30%] md:justify-evenly md:flex-row flex-col w-[50vw] md:h-auto;
}
.borderNavLink {
  @apply md:border-b-[3px] md:border-l-0 border-transparent border-l-[3px] items-center hover:border-accent-300 transition-colors duration-200 ease-in-out;
}
.navLink {
  @apply flex items-center text-accent-100 font-primary text-400 font-semibold md:pl-0 pl-3 md:mb-0 md:h-[3.7rem] h-[3.75rem];
}
.active {
  @apply border-accent-300;
}
section {
  @apply w-[100vw] bg-primary-300 flex items-center justify-center;
}
.btn {
  @apply font-primary font-normal text-300 h-[38px] w-[100px] md:text-500 text-neutral-100 md:w-[175px] md:h-[4rem] border-2 border-accent-300 rounded-full group-hover:border-transparent group-hover:bg-accent-300 transition-colors duration-200 hover:bg-accent-300;
}
.btn.small {
  @apply md:w-[128px] md:h-[45px] md:text-400 w-[80px] h-[35px] text-300;
}
.feature {
  @apply flex items-center md:h-auto h-[75px] justify-between w-[155px] lg:w-[255px] md:w-[180px] [&:nth-child(even)]:border-l-[1px] md:border-r-[1px] md:[&:nth-child(even)]:border-l-0 border-neutral-100 mr-5 mt-5 md:mt-0;
}
.featureText {
  @apply w-[95px] md:w-[100px] ml-3 font-primary;
}
.featureImg {
  @apply h-[55px] md:h-auto mr-3;
}
.model {
  @apply md:w-[25%] ml-10 md:ml-0 flex md:block h-[170px] md:border-l-[1px] border-b-[1px] md:border-b-transparent md:h-[100%];
}
.modelName {
  @apply text-700 md:text-1100 mr-10 md:mr-0 font-accent md:text-center text-center flex md:block items-center text-neutral-100 group-hover:text-accent-300 transition-colors duration-500;
}
.modelInfo {
  @apply flex md:h-[500px] w-full flex-col items-center justify-end pb-3 md:pb-10 bg-no-repeat bg-cover;
}
.modelPrice {
  @apply md:text-400 text-300 text-neutral-100 font-primary;
}
.imgFilter.card {
  @apply group-hover:opacity-0 transition-all duration-500;
}
.infoHeading {
  @apply md:text-900 text-600 font-primary font-bold my-5;
}
.infoText {
  @apply md:text-500 text-400 font-primary  font-normal leading-8;
}
.detailFeature {
  @apply absolute w-[100vw] lg:static top-0 lg:h-[470px] overflow-visible pt-5 transition-transform duration-500;
}
.detailFeature .container {
  @apply flex w-[100%] items-center relative h-[100%];
}
.detailFeature .container img {
  @apply lg:w-[500px] shadow-img lg:absolute top-16 w-[310px] md:w-[400px];
}
.featuresInfo {
  @apply lg:w-[50%] flex flex-col items-center justify-center lg:items-start;
}
.dot {
  @apply w-[15px] h-[15px] m-1  rounded-full border-[#D9D9D9] border-[1px];
}
.footerLi {
  @apply text-neutral-100 font-primary my-[10px] mx-[16px] md:mx-0;
}
.footerHeading {
  @apply font-primary text-400 text-center mt-[16px] md:mt-0 md:text-500 font-semibold text-neutral-100;
}
.contact form input {
  @apply bg-accent-200 rounded-lg m-[5px] p-2 font-primary text-400 outline-none select-none text-neutral-100;
}
.contact .name input {
  @apply w-[50%];
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
  background-color: #1b1b6c;
  transition: background-color 5000s ease-in-out 0s;
}
